* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.responsive-con {
  padding: 20px;
  border: 4px solid #6d396b;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 14px;
  height: 80vh;
}
.body-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
